h1{
	text-align: center;
	font-size:96px;
	font-family:Hyper Viper Halftone;
	color: cyan;
	text-shadow: 5px 2px 0px white;
}
h2{
	font-family:American Captain;
	text-align: center;
	font-size:48px;
}
ul{
	display: table;
	margin: 0 auto;
}
li{
	font-size: 24px;
	font-family:Arial;
}
p{
	text-align: center;
	text-decoration: line-through;
}
body {background-color: yellow;}